/* STANDARD TAG REDEFINITIONS */
BODY{ color: rgb(244, 248, 248); font-family: courier,Arial, Helvetica, sans-serif; font-size: 14pt; background-color: rgb(3, 0, 3); margin: 0; padding: 0; }
TD {font-size: 12pt;  }
p { font-size: 14pt;  margin-bottom: 7px; margin-top: 0; }
a{ color: #3eafe4; text-decoration: none; }
a:hover{	text-decoration: underline;  color: rgb(250, 106, 226);   }
form{	margin:0;}

#header{	width:760px; margin-left:auto; margin-right:auto;}
#header ul{ margin: 0; padding-left: 0; height: 44px; line-height: 44px; display: block; list-style: none; background-color: #4D4D4D; background-image: url(bg_topnav.gif); background-repeat: no-repeat;  }
#header li{ display: inline; background-color: #222222;  float: right;  }
#header li a{ height: 44px; line-height: 44px; display: block; padding-left: 27px; padding-right: 27px; border-left: 1px solid Black;  float: left;     }
#header li a:hover{ background-color: #444444; text-decoration: none;}
#header .Visual{ height:130px; background-image: url(bg_visual.jpg);  background-repeat: no-repeat;  background-color: #4492C8;  border-top: 3px solid Black;   }
h1{ margin: 0; padding: 40px 0 0 0; font-family: "trebuchet ms",Courier, monospace,tahoma,verdana,sans-serif; font-weight: normal; letter-spacing: .005em; color: rgb(61, 181, 250);  font-size: 26pt;  }

#CONTENT{ width:760px; margin-left:auto; margin-right:auto;   }
h2{ margin: 0; padding: 24px 0 7px 40px; font-family: "trebuchet ms",courier,arial,tahoma,verdana,sans-serif; font-weight: normal; letter-spacing: .005em; color: rgba(250, 106, 226); font-size: 20pt; }
#TEXT{ padding: 35px 40px 35px 40px; border-bottom: 1px solid #484848; border-top: 1px solid #484848; background-color: #222222; }
#TEXT p{	margin-bottom: 1em;}

#FOOTER{	width:760px; margin-top:27px; margin-left:auto; margin-right:auto;  border-top: 4px solid #363636;  text-align: right;  padding-top: 5px;   }
#FOOTER p{ font-size: 11px; line-height: 14px; margin: 0;  color: #eeeaba; }
#FOOTER a{ font-size: 11px;	font-weight: normal;	text-decoration: none;  color: rgb(250, 242, 208);    }
#FOOTER a:hover{ color: rgb(250, 242, 208); text-decoration: underline; }
#TABLE{
	margin: 40px auto;
	width: 750px;
}

table{
	background-color:#484848;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 25px;
}

thead{
	background-color: #f8b7ea;
	border-bottom: solid 5px #6e857f;
	color: #484848;
}

tr:nth-child(even){
	background-color: rgba(221, 221, 221, 0.637);
}

tr:hover td{
	background-color: #816381;
	color: rgba(255, 255, 255, 0.753);
}